<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <h1><%= title %></h1>
    <p><%= msg %></p>
    <p>Author: <%= rname  %> </p>
    <p>Follow on github: <%= name  %> </p>
  </div>
</body>

</html>